html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}

.logo {
    justify-content: center !important;
}

.slide img {
    max-width:100%;
}
.logo img {
    max-width:100%;
}

.bioWrapper {
    padding: 0 20px 20px 20px;
}
.bioWrapper p {
    font-size: 32px;
    margin: 0 220px;
    text-align: justify;
    color: #00000086;
}

.contentWrapper {
    margin-top:20px;
    padding:1rem;
}

.footer {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    font-size: 30px;
    background-color: #e5e7e9;
    border-radius: 20px;
    color: #00000086;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

html {
    box-sizing: border-box ;
    --parent-height : 20em ;
    --duration: 1s ;
    --duration-text-wrap: 12s 1.5s cubic-bezier(0.82, 0.82, 1, 1.01) ;
    --cubic-header: var(--duration) cubic-bezier(0.71, 0.21, 0.3, 0.95) ;
    --cubic-slider : var(--duration) cubic-bezier(0.4, 0, 0.2, 1) ;
    --cubic-play-list : .35s var(--duration) cubic-bezier(0, 0.85, 0.11, 1.64) ;
    --cubic-slider-context : cubic-bezier(1, -0.01, 1, 1.01) ;
}

html *,
html *::before,
html *::after {
    box-sizing: inherit ;
    scrollbar-width: none ;
}

body{
    margin: 0 ;
    /*height: 100vh ;*/
    user-select: none ;
    align-items: center ;
    justify-content: center ;
    /*background-color: #e5e7e9 ;*/
    font-family: 'Quicksand', sans-serif ;
    -webkit-tap-highlight-color: transparent ;
    transition: background-color  var(--cubic-slider) ;
}

.img {
    /*width: 100% ;*/
    display: block ;
    object-fit: cover ;
}

.list {
    margin: 0 ;
    padding: 0 ;
    list-style-type: none ;
}

.flex {
    display: flex ;
    justify-content: space-between ;
}

.player {
    /*width: 17.15em ;*/
    width: 70%;
    max-width: 400px;
    /*display: flex ;*/
    /*overflow: hidden ;*/
    font-size: 1.22em ;
    border-radius: 1.35em ;
    /*flex-direction: column ;*/
    background-color: white ;
    /*height: var(--parent-height) ;*/
}

.player__header {
    z-index: 1 ;
    gap: 0 .4em ;
    width: 100% ;
    display: flex;
    height: 5.85em ;
    flex-shrink: 0 ;
    position: relative;
    align-items: flex-start ;
    border-radius: inherit ;
    justify-content: flex-end ;
    background-color: #e5e7e9 ;
    padding: .95em 0.6em 0 1.2em ;
    box-shadow: 0 2px 6px 1px #0000001f ;
    transition: height var(--cubic-header), box-shadow var(--duration), padding var(--duration) ease-in-out ;

}

.player__header.open-header {

    height: 100% ;
    padding-left: 0 ;
    padding-right: 0 ;
    box-shadow: unset ;

}

.player__img {

    width: 3.22em ;
    height: 3.22em ;
    border-radius: 1.32em ;

}

.player__img--absolute {

    top: 1.4em ;
    left: 1.2em ;
    position: absolute ;

}

.slider {

    flex-shrink: 0 ;
    overflow: hidden ;
    transition: width var(--cubic-header), height var(--cubic-header), top var(--cubic-header), left var(--cubic-header);

}

.slider.open-slider{

    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 14.6em ;

}

.slider__content {

    display: flex ;
    height: 100% ;
    will-change : transform ;
    transition: transform var(--cubic-slider);

}

.slider__img {

    filter: brightness(75%) ;

}

.slider__name,
.slider__title {

    overflow: hidden ;
    white-space: nowrap ;

}

.text-wrap {

    display: block ;
    white-space: pre ;
    width: fit-content ;
    animation: text-wrap var(--duration-text-wrap) infinite ;

}

@keyframes text-wrap {

    75%{

        transform: translate3d(-51.5%, 0, 0) ;

    }

    100%{

        transform: translate3d(-51.5%, 0, 0) ;

    }

}

.player__button {

    all: unset ;
    z-index: 100 ;
    width: 2.5em ;
    height: 2.5em ;
    cursor: pointer ;

}

.playlist {

    transform: scale(0) ;
    transition: transform calc(var(--duration) / 2) ;

}

.slider.open-slider .playlist {

    transform: scale(1) ;
    transition: transform var(--cubic-play-list) ;


}

.player__button--absolute--nw {

    top: 5.5% ;
    left: 5.5% ;
    position: absolute ;

}

.player__button--absolute--center {

    top: 0 ;
    left: 0 ;
    right: 0 ;
    bottom: 0 ;
    margin: auto ;
    position: absolute ;

}

img[alt ="pause-icon"] {

    display: none ;

}

.player__controls {

    width: 77% ;
    gap: .5em 0 ;
    display: flex ;
    flex-wrap: wrap ;
    align-items: center ;
    will-change: contents ;
    align-content: center ;
    justify-content: center ;
    transition: transform var(--cubic-header) , width var(--cubic-header) ;

}

.player__controls.move {

    width: 88% ;
    transform: translate3d(-1.1em , calc(var(--parent-height) - 153%) , 0) ;

}

.player__context {

    margin: 0 ;
    width: 100% ;
    display: flex ;
    line-height: 1.8 ;
    flex-direction: column ;
    justify-content: center ;
    text-transform: capitalize ;

}

.slider__context {

    width: 56.28% ;
    cursor: pointer ;
    text-align: center ;
    padding-bottom: .2em ;
    will-change: contents ;
    transition: width var(--cubic-header) ;
    animation: calc(var(--duration) / 2) var(--cubic-slider-context) ;

}

@keyframes opacity {


    0% {

        opacity: 0 ;

    }

    90%{

        opacity: 1 ;

    }

}

.player__controls.move .slider__context{

    width: 49.48% ;

}

.player__title {

    font-size: .7em ;
    font-weight: bold ;
    color: #00000086 ;

}

.progres {

    width: 90% ;
    height: .25em ;
    cursor: pointer ;
    border-radius: 1em ;
    touch-action : none ;
    background-color: #e5e7ea ;
    transition: width var(--cubic-header) ;

}

.player__controls.move .progres{

    width: 98% ;

}

.progres__filled {

    width: 0% ;
    height: 100% ;
    display: flex ;
    position: relative ;
    align-items: center ;
    border-radius: inherit ;
    background-color: #78adfe ;

}

.progres__filled::before {

    right: 0 ;
    width: .35em ;
    content: " " ;
    height: .35em ;
    border-radius: 50% ;
    position: absolute ;
    background-color: #5781bd ;

}

.player__playlist {

    height: 100% ;
    overflow: auto ;
    padding: 1.05em .9em 0 1.2em ;

}

.player__playlist::-webkit-scrollbar {

    width: 0 ;

}

.player__song {

    /*     gap: 0 .65em ; */
    display: flex ;
    cursor: pointer ;
    margin-bottom: .5em ;
    padding-bottom: .7em ;
    border-bottom: .1em solid #d8d8d859 ;

}

.player__song .player__context {

    line-height: 1.5 ;
    margin-left: .65em ;

}

.player__song-name {
    color: #00000086;
    font-size: .88em ;
}

.player__song-time {

    font-size: .65em ;
    font-weight: bold ;
    color: #00000079 ;
    height: fit-content ;
    align-self: flex-end ;

}

.audio {
    display: none !important ;
}


/* Sticky Header Start */
.stickyHeader {
    position: fixed;
    top: 0;
    z-index: 999;
    background: white;
    width:100%;
}
/* Sticky Header End */

/* Social icons start */
.fab {
    color:#00000086;
    transition: 0.3s ease all;
}
.fab:hover{
    color:black;
}
.fab:visited {
    color:#00000086;
}
/* Social icons end */

/*Responsive start*/
@media only screen and (max-width:1421px) {
    .contentWrapper .flex > .player {
        width:100%;
    }
}
@media only screen and (max-width:1024px) {
    .flex {
        align-items: center;
    }
    /* Order of items in the main content wrapper */
    .contentWrapper .bioWrapper {
        order:1;
    }
    .contentWrapper .bioWrapper > p {
        margin:0;
    }
    .contentWrapper .player {
        order:2;
    }
    .contentWrapper > .flex {
        flex-direction: column;
    }
    /* Shorter logo */
    header .logo img {
        height:80px;
    }
}
@media only screen and (max-width:768px) {
    .bioWrapper p {
        font-size:16px;
    }
}
@media only screen and (max-width:613px) {
    /* Footer social */
    .footer h2 {
        text-align: center;
        margin-bottom:5px;
    }
    .footer {
        display:block;
        width:max-content;
        margin-bottom:15px;
    }
    .footer .separator {
        display:none;
    }
    .footer .sndCloud {
        margin-left:46px;
    }
    .footer .instagram {
        margin-left:70px;
    }
}
/*Responsive end*/

